.footer {
  display: flex;
  background-color: black;
  height: 8vh;
  font: normal normal normal 18px/24px Open Sans;
  letter-spacing: 0px;
  color: rgba(192, 158, 100, 1);
  opacity: 1;
margin: auto;

}

.textF {
  display: inline-block !important;
  background-size: cover;

}

.image {

}
