.contact-wrap {
  display: inline-block;
  width: 38%;
  height: 90vh;
  //background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
}

.tel {

  height: 39px;
  width: 177px;
  display: flex;
  float: right;
  max-height: 9%;
  background: rgba(0, 0, 0, 1) 0% 0% no-repeat padding-box;
  border-radius: 7px;
  margin: 80px;
  color: white;
text-align: center;
}

.contact-box {
  width: 63%;
  height: 70%;
float: right;
margin-right: 10%;
  margin-top:-4% ;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 0.00000000001px rgba(128, 128, 128, 0.144) solid;
  border-radius: 3px;


}
